.more-info{
    text-shadow: 1px 6px 62px rgb(0, 0, 0);
    font-size: 26px;
    text-align: center;
    padding: 1rem;
    background-color: rgba(160, 160, 160, 0.95);
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
}
.more-info h2{
    font-size: 35px;
    border-bottom-style: solid;
    border-bottom-color: #98102a;
    width: 18rem;
    margin-left: 38%;
}
